<launch>
  <node
    pkg="turtlesim"
    type="turtlesim_node"
    name="turtlesim"
    respawn="true"
  />
  <node
    pkg="turtlesim"
    type="turtle_teleop_key"
    name="teleop_key"
    required="true"
  />
  <!-- <node
    pkg="hellor_ros"
    type="pubvel.py"
    name="publisher"
    respawn="true"
  /> -->
  <!-- <node
    pkg="hello_ros"
    type="subpose.py"
    name="listener"
    required="true"
    output="screen"
  /> -->
  <node
    pkg="hello_ros"
    type="turtle1_tf_broadcaster.py"
    name="turtle1_tf_broadcaster"
    required="true"
  />
  <node
    pkg="hello_ros"
    type="turtle2_tf_broadcaster.py"
    name="turtle2_tf_broadcaster"
    required="true"
  />
  <node
    pkg="hello_ros"
    type="turtle_tf_listener.py"
    name="turtle_tf_listener"
    required="true"
  />
</launch>